html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

body{
    background-color:#233f66;
    color: #d0d4da;
    width: 100%;
    padding: 0; 
    margin: 0;
}
li{
    list-style: none;
}

#navI{
    padding: 10px;
}
#modify{
    font-size: larger;
    font-family: Nunito Sans;
    color: #d0d4da;
    padding-top: 15px;
    
}
.nav-link{
    color: #d0d4da;
    font-size: x-large;
    justify-content: space-between;
    padding-inline: 20%;
    margin-right: 30px;
    transition: 0.7s ease;
}
#mboto{
    align-items: end;
    border-radius: 50% 50%;
}
#attribute{
    padding-top: 15%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
   
}
#attribute button{
    text-align: center;
}
.icon-container {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.icon {
    display: flex;
    font-size: 3.5rem; /* Adjust the size as needed */
}
#frontend{
    padding: 20px;
}
#backend{
    padding: 20px;
}
#section2{
    padding: 20px;
}
h1 {
    text-align: center;
    font-family: Lato;
}
#testimonial{
    text-align: center;
}
.test{
   
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}
#testimonial{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.card {
    width: 100%;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.card .box {
    position: absolute;
    color: #262626;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background:#4c6281;
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
}
.card .box.front{
    background-image: url(img/pattern.png);
    background-repeat: repeat;
}
.card .box.front,
.card .box.back {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .box.front img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	border: 5px solid #262626;
	margin-bottom: 25px;
}

.card:hover .box.front {
    transform: rotateY(180deg);
}
.box.front h2 {
	font-family: 'Bebas Neue', cursive;
}
.box.front h4 {
	font-size: 18px;
	letter-spacing: 2px;
}
.socials i {
	margin: 0 15px;
}
.card .box.back {
    position: absolute;
    background: #4c6281;
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    user-select: none;
}

.card .box.back .fa-quote-left {
	position: absolute;
	top: 25px;
	left: 180px;
	font-size: 3.2rem;
}

.card:hover .box.back {
    transform: rotateY(360deg);
}

@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
}
#experience{
    padding-bottom: 20px;
}
.each {
    
    background-color:#4c6281;
   
    
    color: #f1f5fa;
    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: black;
        top: -4px;
        
      }
      
      &:before {
        transition: transform 0.15s ease-out;
      }
      
      &:hover:before {
        transform: scale(2.15);
      }
  
}
section{
    min-height: 100%;
}



.items{
    text-align: center;
}
.tems{
    text-align: left;
    margin-left: 10px;
}
.tems a{
    text-decoration: none;
}

/*
.quicklinks{
    display: flex-column;
    padding: 2px;
    color: #94A3B8;
}
.quicklinks a{
    color: #94A3B8;
}*/

/*hamburger */
.nav-link:hover{
color: dodgerblue;
}

.hamburger{
    display: none;
    cursor: pointer
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media(max-width: 768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        background-color: #233f66;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    
    .nav-menu.active{
        left: 0;
    }

}
.foot{
    height: 500px;
}
footer {
    
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #152f52;
    padding: 25px 0;
    border-top-left-radius: 100px;
}

footer .footer-section1{
    display: flex-column;
   
    margin: 20px;
    font-size: 1.2rem;
}

footer .footer-section1 .social a{
    margin: 5px;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    text-align: center;
    
    font-size: 1.3rem;
     border-radius: 5px;
    transition: all .3s;
}
footer .footer-section1 .social a:hover{
    
    color: white;
    transition: all .3s;
}
footer .footer-section1 .quicklinks{
    margin: 0;
    padding: 0;
}
footer .footer-section1 .quicklinks p a{
    font-size: 1.2rem;
     color: azure;
    transition: all .3s;
    text-decoration: none;
}
footer .footer-section1 .quicklinks p a:hover{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(75, 75, 146);
    margin-left: 15px;
    transition: all .3s;    

}

footer .attribute{
   margin: 10px;
}
footer .button{
    border-radius: 10px;
    width: 50;
    height: 15;
}

#attribute .download{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    
    padding-bottom: 7px;
    margin-bottom: 30px;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
}
/*** Skills ***/
#skill .progress {
    height: 5px;
    border-radius: 5px;
}

#skill .progress .progress-bar {
    width: 0px;
    border-radius: 5px;
    transition: 3s;
}

#skill .nav-pills .nav-link {
    color: var(--dark);
}

#skill .nav-pills .nav-link.active {
    color: #FFFFFF;
}

#skill .tab-content hr {
    width: 30px;
}



.progress .progress-bar {
    width: 0px;
    border-radius: 5px;
    transition: 3s;
}

/*** Testimonial ***/
.testimonial-left,
.testimonial-right {
    position: relative;
}

.testimonial-left img,
.testimonial-right img {
    position: absolute;
    padding: 5px;
    border: 1px solid var(--secondary);
    border-radius: 70px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
    width: 70px;
    height: 70px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
}

.testimonial-carousel .owl-item img {
    width: 120px;
    height: 120px;
}

.testimonial-carousel .testimonial-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid var(--secondary);
    border-radius: 60px;
}

.testimonial-carousel .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid var(--secondary);
    border-radius: 30px;
    transition: .5s;
}

.testimonial-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 5px;
    left: 5px;
    border-radius: 16px;
    background: var(--secondary);
    transition: .5s;
}

.testimonial-carousel .owl-dot.active::after {
    background: var(--primary);
}